.layer{
    background-color: #31aa92c4 ;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    
    
}
.con:hover .layer{
    opacity: 1;
    transition: 0.5s all;
    cursor: pointer;
}
.i{
    font-size: 70px;
}