.active{
    background-color: #1ABC9C !important;
   
    
}
.bg{
    background-color: #1ABC9C ;
}
.form-control:focus {
    box-shadow: none !important;
}
.darktxt{
    color: #2C3E50 !important;
}
div.bcolor#border{
    border-color: #2C3E50 !important;
}
.w{
    width: 100px;
}
